:root {
  --vp-c-brand-1: #0366d6;
  --vp-c-brand-2: #0550ae;
  --vp-c-brand-3: #0366d6;
  --vp-c-brand-soft: rgba(3, 102, 214, 0.14);
}

.dark {
  --vp-c-brand-1: #58a6ff;
  --vp-c-brand-2: #79b8ff;
  --vp-c-brand-3: #58a6ff;
  --vp-c-brand-soft: rgba(88, 166, 255, 0.14);
}

.VPHero .name {
  font-size: 2.5rem !important;
}

.VPHero .text {
  font-size: 1.5rem !important;
}
